<body id="loginpage-body">
	<div class="container" id="loginpage-container">
		<h1>FitWay</h1>
		<h5 id="loginpage-slogan">A step today makes a brighter day</h5>
		<br /><br />
		<div class="row">
			<% if flash[:error] %>
				<div id="error_explanation loginpage-error-explanation">
			      <%= flash[:error] %>
			    </div>
			<% end %>
		</div>
		<div class="row">		
			<form id="login_form" role="form" action="/auth/login" method="post">
				<div style="display:inline-block; text-align:center">
					<div class="form-group">
						<input type="text" class="form-control" name="username" id="username" placeholder="Username" />
						<input type="password" class="form-control" name="password" id="password" placeholder="Password" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" id="login_btn">Login</button>
					</div>
				</div>
			</form>
		</div>
		<br />
		<div class="row">
			<%= link_to image_tag('fb_login_btn.png'), "/auth/facebook" %>
			<%= link_to image_tag('google_login_btn.png'), "/auth/google_oauth2" %><br /><br />
			<a href="newuser" class="loginpage-link">Sign up for FitWay</a>
		</div>
	</div>
</body>


