<body id="loginpage-body">
	<div class="container" id="loginpage-container">
		<h1>FitWay</h1>
		<h5 id="loginpage-slogan">A step today makes a brighter day</h5>
		<br /><br />
		<div class="row">
			<% if flash[:error] %>
				<div id="error_explanation loginpage-error-explanation">
			      <%= flash[:error] %>
			    </div>
			<% end %>
		</div>
		
		<div class="row">		
			<form id="newuser_form" role="form" action="signup_new_user" method="post">
				<div style="display:inline-block; text-align:center;">
			  		<div class="form-group"><!--style="display:block; float:left; margin-right:5px;"-->
	      				<input type="text" class="form-control" 
	      					id="first_name" name="first_name" placeholder="First Name" />
	      			</div>
	      			<div class="form-group"><!--style="display:block; float:left;"-->
	      				<input type="text" class="form-control" 
	      					id="last_name" name="last_name" placeholder="Last Name" />
	      			</div>
	      			<div class="form-group">
	      				<input type="text" class="form-control" 
	      					id="username" name="username" placeholder="Username" />
	      			</div>
	      			<div class="form-group">
	      				<input type="password" class="form-control" 
	      					id="password" name="password" placeholder="Password" />
	      			</div>
	      			<div class="form-group">
	      				<input type="password" class="form-control" 
	      					id="password_confirmation" name="password_confirmation" placeholder="Password Confirmation" />
	      			</div>
	      			<br />
	      			<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" id="signup_btn">Signup</button>
					</div>
	    		</div>
	    	</form>
		</div>
		
		<div class="row">
			<a href="login" class="loginpage-link">Sign in to your account</a>
		</div>
		
	</div>
</body>
