<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
  			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  			<ul>
  			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
  			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.text_field :first_name, :placeholder=>'First Name', :size=>10 %>
		<%= f.text_field :last_name, :placeholder=>'Last Name', :size=>10 %>
	</div>
	<div class="field">
		<%= f.text_field :username, :placeholder=>'Username', :size=>25 %>
	</div>
	<div class="field">
		<%= f.password_field :password, :placeholder=>'Password', :size=>25 %>
	</div>
	<div class="field">
		<%= f.password_field :password_confirmation, :placeholder=>'Re-enter Password', :size=>25 %>
	</div>
    <div class="field">
    	Profile picture:
    	<%= f.file_field :image %>
    </div>
	<br />
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
