<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <% all_users = User.all %>
    <% user_items = all_users.map { |c| [ c.first_name + " " + c.last_name, c.id ] } %>
    <% if params[:action] == "new" %>
        <%= f.select :user_id, user_items, :selected=>session[:user_id] %>
    <% else %>
        <%= f.select :user_id, user_items, :placeholder=>'Test' %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :challenger_id %><br />
    <% if params[:action] == "new" %>
        <%= f.select :challenger_id, user_items, :selected=>session[:user_id] %>
    <% else %>
        <%= f.select :challenger_id, user_items %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :num_of_steps %><br />
    <%= f.number_field :num_of_steps %>
  </div>
  <div class="field">
    <%= f.label :num_of_steps_so_far %><br />
    <%= f.number_field :num_of_steps_so_far %>
  </div>
  <div class="field">
    <%= 
    #f.label :accept 
    %><!--<br />-->
    <%=
    # f.number_field :accept 
    %>
    

    <%=  f.radio_button 'accept', 1 %>
    <%= f.label :accept, "Accept" %>
    <%=  f.radio_button 'accept', 0 %>
    <%= f.label :accept, "Reject" %>
    
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
