<p id="notice"><%= notice %></p>

<div class = "container">
	<!--<div id="feedPageHeader">
		<h4>Feeds</h4>

	</div>-->
	<div id="feedPageNewGoalBtn">
		<button type="button" class="btn btn-success btn-xs"> 
		<%= link_to 'New Goal', new_goal_path, :class=>'btnlink-white' %>
		</button>
	</div>
	<div>
    	<ul class="nav nav-tabs">
        	<li class="active"><a href="#home" data-toggle="tab" class="feedPageTab">Feeds</a></li>
        	<li>
        		<a href="#profile" data-toggle="tab" class="feedPageTab">
        			<span class="glyphicon glyphicon-bullhorn"> 
        				<span id="feedPageNumGoalsToAcceptOrReject"><%=Goal.where(accept: nil, user_id: session[:user_id]).count%></span>
        			</span>
        		</a>
        	</li>
      	</ul>
    </div>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="home">  
  <% @goals_acceptedOrRejected.each do |goal| %>
      <%
         #link_to 'Show', goal %>
      <%
         #link_to 'Edit', edit_goal_path(goal) %>
      <%
         #link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>

      <% if goal.accept == 1 %>
      	<% if goal.num_of_steps_so_far >= goal.num_of_steps %>
        	<div class="row pretty-row finished-row">
        <% else %>
        	<div class="row pretty-row inprogress-row">
        <% end %>
      <% elsif goal.accept == 0 %>
      	<div class="row pretty-row rejected-row">
      <% else %>
        <div class="row pretty-row">
      <% end %>
      	<table>
      	<tr><td>
       <!-- <div style="display:inline-block; float:left; border:3px solid black;"> -->
			<% if goal.user.image? %>
        		<%= link_to image_tag(goal.user.image_url, :class => 'profile-image img-circle'), 
            		goal.user, :class=>'profile-image-link' %>
        	<% else %>
				<%= link_to image_tag('nopic.jpg', :class => 'profile-image img-circle'), 
            		goal.user, :class=>'profile-image-link' %>
     	  	<% end %>
          
        <!--</div>-->
        </td><td style="vertical-align:text-top; padding:5px;">
       <!-- <div style="display:inline-block; width:300px; border:3px solid red;"> -->
            <strong>"<%= link_to goal.name, edit_goal_path(goal) %>"</strong>
            <% if goal.accept == 1 %>
                <br /><span style="font-size:150%"><%=goal.num_steps_so_far_formatted%></span>
          		<strong>of goal <%= goal.num_steps_formatted%> steps</strong>
            <% end %>
          
          <br />
          <% if goal.user_id == goal.challenger_id %>
            <!-- Individual challenge -->
          <% else %>
            <%=
            #User.find_by_id(goal.challenger_id).first_name
            %><!--'s challenge -->
          <% end %>
          <!--<br />-->
          <% if goal.accept == 1 %>
            <% if goal.num_of_steps_so_far >= goal.num_of_steps %>
                Goals Completed!
            <% else %>
                In Progress
            <% end %>
          <% elsif goal.accept == 0 %>
            Goal Rejected!
          <% else %>
            <button type = "button" class="btn btn-primary btn-xs">
                  <%= link_to "Accept",
                    { :controller => 'goalaccepter',
                      :action => 'accept_goal',
                      :goal_id => goal.id,
                      :accept => 1 },
                    :method => 'POST',
                    :class=> 'btnlink-white'
                %>
            </button>
            <button type = "button" class="btn btn-danger btn-xs">
                <%= link_to "Reject",
                    { :controller => 'goalaccepter',
                      :action => 'accept_goal',
                      :goal_id => goal.id,
                      :accept => 0 },
                    :method => 'POST',
                    :class=> 'btnlink-white'
                %>
            </button>
          <% end %>
          
            - <%= time_ago_in_words(goal.updated_at) %> ago by 
            <% if goal.user_id == session[:user_id] %>
            	you
            <%else%>
            	<%=goal.user.first_name%> <%=goal.user.last_name%>
           	<%end%> 
       <!-- </div> -->
        </td></tr>
        </table>
      </div>
  <% end %>
  </div>
  <div class="tab-pane fade" id="profile">
  <% @goals_notYetAcceptedOrRejected.each do |goal| %>
      <%
         #link_to 'Show', goal %>
      <%
         #link_to 'Edit', edit_goal_path(goal) %>
      <%
         #link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>

      <% if goal.accept == 1 %>
      	<% if goal.num_of_steps_so_far >= goal.num_of_steps %>
        	<div class="row pretty-row finished-row">
        <% else %>
        	<div class="row pretty-row inprogress-row">
        <% end %>
      <% elsif goal.accept == 0 %>
      	<div class="row pretty-row rejected-row">
      <% else %>
        <div class="row pretty-row">
      <% end %>
      	<table>
      	<tr><td>
       <!-- <div style="display:inline-block; float:left; border:3px solid black;"> -->
			<% if goal.user.image? %>
        		<%= link_to image_tag(goal.user.image_url, :class => 'profile-image img-circle'), 
            		goal.user, :class=>'profile-image-link' %>
        	<% else %>
				<%= link_to image_tag('nopic.jpg', :class => 'profile-image img-circle'), 
            		goal.user, :class=>'profile-image-link' %>
     	  	<% end %>
          
        <!--</div>-->
        </td><td style="vertical-align:text-top; padding:5px;">
       <!-- <div style="display:inline-block; width:300px; border:3px solid red;"> -->
            <strong>"<%= link_to goal.name, edit_goal_path(goal) %>"</strong>
            <% if goal.accept == 1 %>
                <% if goal.num_of_steps_so_far.is_a? Integer %>
                    (<%=goal.num_steps_so_far_formatted%>/<%= goal.num_steps_formatted%> steps)
                <% else %>
                    (0/<%=goal.num_steps_formatted%> steps)
                <% end %>
            <% end %>
          <br />
          
          <% if goal.user_id == goal.challenger_id %>
            <!-- Individual challenge -->
          <% else %>
            <%=
            #User.find_by_id(goal.challenger_id).first_name
            %><!--'s challenge -->
          <% end %>
          <!--<br />-->
          <% if goal.accept == 1 %>
            <% if goal.num_of_steps_so_far >= goal.num_of_steps %>
                Goals Completed!
            <% else %>
                In Progress
            <% end %>
          <% elsif goal.accept == 0 %>
            Goal Rejected!
          <% else %>
            <button type = "button" class="btn btn-primary btn-xs">
                  <%= link_to "Accept",
                    { :controller => 'goalaccepter',
                      :action => 'accept_goal',
                      :goal_id => goal.id,
                      :accept => 1 },
                    :method => 'POST',
                    :class=> 'btnlink-white'
                %>
            </button>
            <button type = "button" class="btn btn-danger btn-xs">
                <%= link_to "Reject",
                    { :controller => 'goalaccepter',
                      :action => 'accept_goal',
                      :goal_id => goal.id,
                      :accept => 0 },
                    :method => 'POST',
                    :class=> 'btnlink-white'
                %>
            </button>
          <% end %>
          
            - <%= time_ago_in_words(goal.updated_at) %> ago by 
            <% if goal.user_id == session[:user_id] %>
            	you
            <%else%>
            	<%=goal.user.first_name%> <%=goal.user.last_name%>
           	<%end%> 
       <!-- </div> -->
        </td></tr>
        </table>
      </div>
  <% end %>
  </div>
</div>
  
</div>


