<div class="container">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <b>User:</b>
	  <%= @goal.user_id %>
	</p>
	
	<p>
	  <b>Challenger:</b>
	  <%= @goal.challenger_id %>
	</p>
	
	<p>
	  <b>Name:</b>
	  <%= @goal.name %>
	</p>
	
	<p>
	  <b>Num of steps:</b>
	  <%= @goal.num_of_steps %>
	</p>
	
	<p>
	  <b>Num of steps so far:</b>
	  <%= @goal.num_of_steps_so_far %>
	</p>
	
	<p>
	  <b>Accept:</b>
	  <%= @goal.accept %>
	</p>
	
	
	<%= link_to 'Edit', edit_goal_path(@goal) %> |
	<%= link_to 'Back', goals_path %>
</div>
